# Copy this file to .env and fill in your values.
VITE_BACKEND_URL=
VITE_FRONTEND_URL=
VITE_GOOGLE_RECAPTCHA_SITE_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_DEFENCE_READINESS_SURVEY_ID=
VITE_DRI_BASE_URL=
VITE_PHD_SUCCESS_SCHEDULER_URL=
VITE_ACCESS_KEY=
VITE_SECRET_KEY=
VITE_BUCKET_NAME=
VITE_REGION=
