# Copy this file to .env and fill in your values.
PORT=
NODE_ENV=
DATABASE_URL=
SHADOW_DATABASE_URL=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
API_PUBLIC_URL=
BACKEND_URL=
FRONTEND_URL=
CLIENT_URL=
STRIPE_FRONTEND_URL=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET_NAME=
AWS_REGION=
GMAIL_AUTH_USER=
GMAIL_AUTH_PASS=
GMAIL_AUTH_USER_SUPPORT=
GOOGLE_LOGIN_CLIENT_ID=
GOOGLE_APPLICATION_CREDENTIALS_JSON=
OPENAI_API_KEY=
DEFENCE_READINESS_CHATGPT_MODEL=
RESEND_API_KEY=
RESEND_API_KEY_MTC=
RESEND_API_KEY_PHD_DEFENCE_READINESS=
RESEND_EMAILID_MTC=
RESEND_EMAILID_PHD_CONSULTATION_FORM=
RESEND_EMAILID_PHD_DEFENCE_READINESS=
STRIPE_SECRET_KEY=
STRIPE_SECRET_KEY_DRI=
STRIPE_WEBHOOK_SIGNING_SECRET=
STRIPE_WEBHOOK_SIGNING_SECRET_DRI=
DEFENCE_READINESS_FULL_DRI_URL=
DEFENCE_READINESS_SURVEY_ID=
DRI_BASE_URL=
VERTEX_AI_CLIENT_EMAIL=
VERTEX_AI_LOCATION=
VERTEX_AI_MODEL=
VERTEX_AI_PRIVATE_KEY=
VERTEX_AI_PROJECT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_REDIRECT_URI=
CHROME_PATH=
GOOGLE_CHROME_BIN=
PUPPETEER_EXECUTABLE_PATH=
